src/assets/javascript/bootstrap/Solution.UI.Web/Web References/MicrosoftNavservice/Customer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/customer" targetNamespace="urn:microsoft-dynamics-schemas/page/customer" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Blocked">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Ship" />
          <xsd:enumeration value="Invoice" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Copy_Sell_to_Addr_to_Qte_From">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Company" />
          <xsd:enumeration value="Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Tax_Identification_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Legal_Entity" />
          <xsd:enumeration value="Natural_Person" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EFT_Fraud_Protection_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Whitelist" />
          <xsd:enumeration value="Greylist" />
          <xsd:enumeration value="Blacklist" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Electronic_Invoice_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Electronic" />
          <xsd:enumeration value="Paper_and_Electronic" />
          <xsd:enumeration value="Paper" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Application_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Manual" />
          <xsd:enumeration value="Apply_to_Oldest" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Advice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Bank_Communication">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="E_English" />
          <xsd:enumeration value="F_French" />
          <xsd:enumeration value="S_Spanish" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Check_Date_Format">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="MM_DD_YYYY" />
          <xsd:enumeration value="DD_MM_YYYY" />
          <xsd:enumeration value="YYYY_MM_DD" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Check_Date_Separator">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="_minus_" />
          <xsd:enumeration value="_dot_" />
          <xsd:enumeration value="_slash_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Payment_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Prepaid" />
          <xsd:enumeration value="Third_Party" />
          <xsd:enumeration value="Freight_Collect" />
          <xsd:enumeration value="Consignee" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Insurance">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EDI_Invoice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Rec_Doc_Control" />
          <xsd:enumeration value="Always" />
          <xsd:enumeration value="Never" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Primary_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Search_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Balance_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Credit_Limit_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Service_Zone_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="tns:Blocked" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pop_Up_Notes" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sales_Channel" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Custom_Pack_List_Report_ID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Custom_Pack_List_Report_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Home_Page" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Copies" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Disc_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Copy_Sell_to_Addr_to_Qte_From" type="tns:Copy_Sell_to_Addr_to_Qte_From" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Liable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Area_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Identification_Type" type="tns:Tax_Identification_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Registration_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Exemption_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RFC_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CURP_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State_Inscription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Federal_ID_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Identification_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Identification_State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Bus_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Price_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Disc_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allow_Line_Disc" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prices_Including_VAT" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prepayment_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EFT_Fraud_Protection_Status" type="tns:EFT_Fraud_Protection_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Electronic_Invoice_Type" type="tns:Electronic_Invoice_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Method" type="tns:Application_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reminder_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fin_Charge_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cash_Flow_Payment_Terms_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Do_Not_Save_Credit_Card_Nos" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Do_Not_Save_Checking_Act_Nos" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Print_Statements" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Statement_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Block_Payment_Tolerance" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Combine_Shipments" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserve" type="tns:Reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Advice" type="tns:Shipping_Advice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Service_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Calendar_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customized_Calendar" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Language_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Communication" type="tns:Bank_Communication" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Check_Date_Format" type="tns:Check_Date_Format" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Check_Date_Separator" type="tns:Check_Date_Separator" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Ship_Agent_Service" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Residential_Delivery" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blind_Shipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Double_Blind_Shipment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Double_Blind_Ship_from_Cust_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Packing_Rule_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail_Rule_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail_Cust_Stat_Send_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Free_Freight" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_Free_Freight_Lines_on_Order" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Payment_Type" type="tns:Shipping_Payment_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Insurance" type="tns:Shipping_Insurance" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IRS_EIN_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Default_Ship_for_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="External_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_E_Mail_Rule_for_ShipToAddr" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EDI_Invoice" type="tns:EDI_Invoice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EDI_Trade_Partner" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EDI_Internal_Doc_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Effective_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Change_Date" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Customer_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Customer" type="tns:Customer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Customer_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="Last_Name" />
          <xsd:enumeration value="Middle_Name" />
          <xsd:enumeration value="First_Name" />
          <xsd:enumeration value="Address" />
          <xsd:enumeration value="Address_2" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="County" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="Country_Region_Code" />
          <xsd:enumeration value="Phone_No" />
          <xsd:enumeration value="Primary_Contact_No" />
          <xsd:enumeration value="Contact" />
          <xsd:enumeration value="Search_Name" />
          <xsd:enumeration value="Balance_LCY" />
          <xsd:enumeration value="Credit_Limit_LCY" />
          <xsd:enumeration value="Salesperson_Code" />
          <xsd:enumeration value="Service_Zone_Code" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Pop_Up_Notes" />
          <xsd:enumeration value="Sales_Channel" />
          <xsd:enumeration value="Custom_Pack_List_Report_ID" />
          <xsd:enumeration value="Custom_Pack_List_Report_Name" />
          <xsd:enumeration value="Fax_No" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Home_Page" />
          <xsd:enumeration value="IC_Partner_Code" />
          <xsd:enumeration value="Bill_to_Customer_No" />
          <xsd:enumeration value="Invoice_Copies" />
          <xsd:enumeration value="Invoice_Disc_Code" />
          <xsd:enumeration value="Copy_Sell_to_Addr_to_Qte_From" />
          <xsd:enumeration value="Tax_Liable" />
          <xsd:enumeration value="Tax_Area_Code" />
          <xsd:enumeration value="Tax_Identification_Type" />
          <xsd:enumeration value="VAT_Registration_No" />
          <xsd:enumeration value="Tax_Exemption_No" />
          <xsd:enumeration value="RFC_No" />
          <xsd:enumeration value="CURP_No" />
          <xsd:enumeration value="State_Inscription" />
          <xsd:enumeration value="Federal_ID_No" />
          <xsd:enumeration value="Identification_No" />
          <xsd:enumeration value="Identification_State" />
          <xsd:enumeration value="Gen_Bus_Posting_Group" />
          <xsd:enumeration value="VAT_Bus_Posting_Group" />
          <xsd:enumeration value="Customer_Posting_Group" />
          <xsd:enumeration value="Customer_Price_Group" />
          <xsd:enumeration value="Customer_Disc_Group" />
          <xsd:enumeration value="Allow_Line_Disc" />
          <xsd:enumeration value="Prices_Including_VAT" />
          <xsd:enumeration value="Prepayment_Percent" />
          <xsd:enumeration value="EFT_Fraud_Protection_Status" />
          <xsd:enumeration value="Electronic_Invoice_Type" />
          <xsd:enumeration value="Application_Method" />
          <xsd:enumeration value="Payment_Terms_Code" />
          <xsd:enumeration value="Payment_Method_Code" />
          <xsd:enumeration value="Reminder_Terms_Code" />
          <xsd:enumeration value="Fin_Charge_Terms_Code" />
          <xsd:enumeration value="Cash_Flow_Payment_Terms_Code" />
          <xsd:enumeration value="Do_Not_Save_Credit_Card_Nos" />
          <xsd:enumeration value="Do_Not_Save_Checking_Act_Nos" />
          <xsd:enumeration value="Print_Statements" />
          <xsd:enumeration value="Last_Statement_No" />
          <xsd:enumeration value="Block_Payment_Tolerance" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Combine_Shipments" />
          <xsd:enumeration value="Reserve" />
          <xsd:enumeration value="Shipping_Advice" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="Shipping_Agent_Code" />
          <xsd:enumeration value="Shipping_Agent_Service_Code" />
          <xsd:enumeration value="Shipping_Time" />
          <xsd:enumeration value="Base_Calendar_Code" />
          <xsd:enumeration value="Customized_Calendar" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Language_Code" />
          <xsd:enumeration value="Bank_Communication" />
          <xsd:enumeration value="Check_Date_Format" />
          <xsd:enumeration value="Check_Date_Separator" />
          <xsd:enumeration value="E_Ship_Agent_Service" />
          <xsd:enumeration value="Residential_Delivery" />
          <xsd:enumeration value="Blind_Shipment" />
          <xsd:enumeration value="Double_Blind_Shipment" />
          <xsd:enumeration value="Double_Blind_Ship_from_Cust_No" />
          <xsd:enumeration value="Packing_Rule_Code" />
          <xsd:enumeration value="E_Mail_Rule_Code" />
          <xsd:enumeration value="E_Mail_Cust_Stat_Send_Date" />
          <xsd:enumeration value="Free_Freight" />
          <xsd:enumeration value="No_Free_Freight_Lines_on_Order" />
          <xsd:enumeration value="Shipping_Payment_Type" />
          <xsd:enumeration value="Shipping_Insurance" />
          <xsd:enumeration value="IRS_EIN_Number" />
          <xsd:enumeration value="Default_Ship_for_Code" />
          <xsd:enumeration value="External_No" />
          <xsd:enumeration value="Use_E_Mail_Rule_for_ShipToAddr" />
          <xsd:enumeration value="EDI_Invoice" />
          <xsd:enumeration value="EDI_Trade_Partner" />
          <xsd:enumeration value="EDI_Internal_Doc_No" />
          <xsd:enumeration value="Effective_Date" />
          <xsd:enumeration value="Change_Date" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Customer_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Customer_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Customer_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Customer_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer_List" type="tns:Customer_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer_List" type="tns:Customer_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer" type="tns:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer_List" type="tns:Customer_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Customer_List" type="tns:Customer_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Customer_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Customer_Binding" type="tns:Customer_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/customer:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Customer_Service">
    <port name="Customer_Port" binding="tns:Customer_Binding">
      <address location="http://64.6.174.36:7047/DynamicsNAV70/WS/HPD_ECOM_TEST/Page/Customer" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>